In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
from sklearn.datasets import load_diabetes

In [13]:
df = load_diabetes()
dataset = pd.DataFrame(df.data)
dataset.columns = df.feature_names
#dataset

# setting up independent(X) and dependent(y) features
X = dataset
y = df.target

In [16]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.30, random_state = 42)
X_train

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6
225,0.030811,0.050680,0.032595,0.049415,-0.040096,-0.043589,-0.069172,0.034309,0.063015,0.003064
412,0.074401,-0.044642,0.085408,0.063187,0.014942,0.013091,0.015505,-0.002592,0.006207,0.085907
118,-0.056370,0.050680,-0.010517,0.025315,0.023198,0.040022,-0.039719,0.034309,0.020609,0.056912
114,0.023546,-0.044642,0.110198,0.063187,0.013567,-0.032942,-0.024993,0.020655,0.099241,0.023775
364,0.001751,0.050680,-0.006206,-0.019442,-0.009825,0.004949,-0.039719,0.034309,0.014821,0.098333
...,...,...,...,...,...,...,...,...,...,...
106,-0.096328,-0.044642,-0.076264,-0.043542,-0.045599,-0.034821,0.008142,-0.039493,-0.059471,-0.083920
270,0.005383,0.050680,0.030440,0.083844,-0.037344,-0.047347,0.015505,-0.039493,0.008641,0.015491
348,0.030811,-0.044642,-0.020218,-0.005670,-0.004321,-0.029497,0.078093,-0.039493,-0.010903,-0.001078
435,-0.012780,-0.044642,-0.023451,-0.040099,-0.016704,0.004636,-0.017629,-0.002592,-0.038460,-0.038357
102,-0.092695,-0.044642,0.028284,-0.015999,0.036958,0.024991,0.056003,-0.039493,-0.005142,-0.001078

In [ ]:
# standardizing the dataset
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [ ]:
# implementing Linear Regression
from sklearn.linear_model import LinearRegression
## cross validation - divides train data into batches and gets accuracy score of each batch.
from sklearn.model_selection import cross_val_score
regression = LinearRegression()
regression.fit(X_train,y_train)
mse = cross_val_score(regression, X_train, y_train, scoring = 'neg_mean_squared_error', cv=5)
mean = np.mean(mse)
mean

In [28]:
# prediction
reg_pred = regression.predict(X_test)
reg_pred

array([138.46970031, 181.10052342, 125.34400904, 292.75977277,
       123.8830531 ,  91.89830434, 257.26463123, 177.76169318,
        84.98549706, 109.15960992,  94.4855284 , 166.13235108,
        57.40742502, 206.13897354,  97.7811842 , 131.00472765,
       214.29789972, 252.52907661, 199.66656381, 219.49985634,
       203.23671317,  88.00656925,  70.65108459, 186.92233427,
       155.81266751, 162.81022205, 191.93135706, 184.72924276,
        46.62920829, 108.26566599, 178.14743952,  91.35065005,
       127.72125745, 184.04205666, 172.23799897, 189.51548863,
       121.83265708, 117.75339206, 145.67950306,  58.57563401,
        72.55421321, 107.27571105, 166.15280313, 153.29339984,
       165.19282154,  62.95752038,  73.58909449, 110.05656189,
        54.49723354, 164.88920632, 152.49472803,  63.8874565 ,
       111.4354561 , 108.34936269, 179.96973311, 158.70054112,
        95.04833555, 209.68990406, 118.37356519,  69.69946093,
       189.04680627, 204.99138626, 140.26840176, 105.75963198,
       131.22316354, 201.65649349, 173.60251683, 164.25810664,
       122.01567481, 143.53425629, 179.42286037, 201.32086534,
       234.50804093, 146.96093984,  80.27567403, 160.86822173,
       192.72110552, 208.6585054 , 158.56823462, 206.00933474,
       111.53729194, 140.28763033,  51.15323818,  54.76434639,
       113.02207773,  78.46425825,  80.20416459,  56.97774667,
       168.51207071, 185.55749267, 152.33436369, 242.66080008,
       106.44250735,  61.34968205,  53.44975218, 197.78538801,
       246.62420102, 185.25237675, 105.80114548,  62.42547543,
       193.39002547, 107.08821595, 297.08578592,  94.45306615,
       148.41869832, 104.10666888, 128.66940497, 126.90012169,
       165.84858396, 186.14546255, 108.5888133 , 203.83170771,
       204.97622269, 209.10156998, 191.65509488, 161.26918179,
       148.51075431, 135.0455994 , 111.74197539, 163.62966339,
       170.55301782,  95.53608319,  46.85961143, 164.34533761,
       127.1747026 , 176.61035076, 173.47305611, 107.40153597,
       202.99778708,  92.10100436, 122.28876806,  80.80866991,
       233.21870492])

In [ ]:
# checking the predicted values what level of correctness they have
import seaborn as sns
sns.displot(reg_pred-y_test, kind = 'kde')

In [ ]:
# accuracy score
from sklearn.metrics import r2_score
score = r2_score(reg_pred, y_test)
score

# The end